

  
     
#whitediv{
    height: 700px;
    width: 1500px;
    background:white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 2%;
    padding-top: 6%;
    padding-left: 2%;
    padding-bottom: 8%;
    border-radius: 10px;
    display: flex;
}

#prevordertable{
    margin-left: 60%;
    margin-top: 100px;
}
h2{
    margin-left: 45%;
    margin-bottom: 50px;
    height: 50px;
    height: 30px;
}